<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>


<section class="hero">
    <div class="hero-content">
        <h2> YA-YA-HEY </h2>
        <p> WHATS UP BIG FELLA </p>

        <a href="/" class="btn btn-lg btn-primary">GO HOME LOL</a>
        <a href="/contact" class="btn btn-lg btn-primary">Y'ALL LOOK SO DIFFERENT</a>
    </div>
</section>


<main>
    <div class="container">
        <div class="jumbotron text-center">
            WE GOT AN [EXPLETIVE] SQUAD NOW
        </div>
        <h1>NICE BENNY</h1>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>

</html>